<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greentea.woofie">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <receiver android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver"
            android:exported="false">
        </receiver>
    </application>
</manifest>
