import 'package:logger/logger.dart';

class AppConfig {
  static const bool DEBUG = true;

  static const Level LOG_LEVEL = Level.debug;

  static const APP_ID_ONESIGNAL = "97b9938b-4226-4b6c-9029-8d419efc02ae";
}
