class BackendConfig {
  static const String BASE_URL = "";
  static const String BASE_HASURA_URL = "http://woofie.tk:22030/v1/graphql";
  static const String BASE_CHAT_URL = "http://woofie.tk:22031";
  static const int REFRESH_INTERVAL_LIMIT_SECOND = 3;
}
